{% extends 'base.html' %}

{% block body%}
<div class="button-group">
    <a href="{% url 'display_computers' %}" class="btn btn-primary btn-md" role="button">Computers</a>
    <a href="{% url 'add_computer' %}" class="btn btn-warning btn-sm" role="button">Add Computer</a>
</div>
<br>
<h4> Currently Viewing {{ header }}</h4>
<table class="table table-hover">
    <thead>


    <tr>
        <th>ID</th>
        <th>Operating System</th>
        <th>Computer Name</th>
        <th>Serial Number</th>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Location</th>
        <th>Model</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.operating_system }}</td>
        <td>{{ item.computer_name}}</td>
        <td>{{ item.serial_number}}</td>
        <td>{{ item.user_name}}</td>
        <td>{{item.full_name}}</td>
        <td>{{item.location}}</td>
        <td>{{item.model_type}}</td>
        <td>{{item.comments}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}